<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SceneMode</key>
	<array>
		<dict>
			<key>statusDic</key>
			<dict>
				<key>status</key>
				<array/>
			</dict>
			<key>name</key>
			<string>自定义/Custom</string>
			<key>sceneMode</key>
			<integer>0</integer>
			<key>period</key>
			<integer>10000</integer>
			<key>repeat</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>statusDic</key>
			<dict>
				<key>status</key>
				<array>
					<dict>
						<key>devType</key>
						<string>RGBW</string>
						<key>rgb</key>
						<dict>
							<key>r</key>
							<integer>0</integer>
							<key>g</key>
							<integer>0</integer>
							<key>b</key>
							<integer>0</integer>
							<key>w</key>
							<integer>255</integer>
						</dict>
						<key>brightness</key>
						<integer>20</integer>
						<key>dimming</key>
						<integer>500</integer>
						<key>delay</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>devType</key>
						<string>RGBW</string>
						<key>rgb</key>
						<dict>
							<key>r</key>
							<integer>0</integer>
							<key>g</key>
							<integer>0</integer>
							<key>b</key>
							<integer>0</integer>
							<key>w</key>
							<integer>255</integer>
						</dict>
						<key>brightness</key>
						<integer>100</integer>
						<key>dimming</key>
						<integer>500</integer>
						<key>delay</key>
						<integer>5000</integer>
					</dict>
					<dict>
						<key>devType</key>
						<string>CCT</string>
						<key>cct</key>
						<integer>3000</integer>
						<key>brightness</key>
						<integer>20</integer>
						<key>dimming</key>
						<integer>500</integer>
						<key>delay</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>devType</key>
						<string>CCT</string>
						<key>cct</key>
						<integer>3000</integer>
						<key>brightness</key>
						<integer>100</integer>
						<key>dimming</key>
						<integer>500</integer>
						<key>delay</key>
						<integer>5000</integer>
					</dict>
					<dict>
						<key>devType</key>
						<string>SCT</string>
						<key>brightness</key>
						<integer>20</integer>
						<key>dimming</key>
						<integer>500</integer>
						<key>delay</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>devType</key>
						<string>SCT</string>
						<key>brightness</key>
						<integer>100</integer>
						<key>dimming</key>
						<integer>500</integer>
						<key>delay</key>
						<real>5000</real>
					</dict>
					<dict>
						<key>devType</key>
						<string>MOTOR</string>
						<key>state</key>
						<integer>100</integer>
						<key>delay</key>
						<integer>0</integer>
					</dict>
				</array>
			</dict>
			<key>name</key>
			<string>晨起/Morning</string>
			<key>sceneMode</key>
			<integer>1</integer>
			<key>period</key>
			<integer>7000</integer>
			<key>repeat</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>statusDic</key>
			<dict>
				<key>status</key>
				<array>
					<dict>
						<key>devType</key>
						<string>RGBW</string>
						<key>rgb</key>
						<dict>
							<key>r</key>
							<integer>0</integer>
							<key>g</key>
							<integer>0</integer>
							<key>b</key>
							<integer>0</integer>
							<key>w</key>
							<integer>255</integer>
						</dict>
						<key>brightness</key>
						<integer>20</integer>
						<key>dimming</key>
						<integer>1000</integer>
						<key>delay</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>devType</key>
						<string>CCT</string>
						<key>cct</key>
						<integer>3000</integer>
						<key>brightness</key>
						<integer>20</integer>
						<key>dimming</key>
						<integer>1000</integer>
						<key>delay</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>devType</key>
						<string>SCT</string>
						<key>brightness</key>
						<integer>20</integer>
						<key>dimming</key>
						<integer>1000</integer>
						<key>delay</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>devType</key>
						<string>MOTOR</string>
						<key>state</key>
						<integer>0</integer>
						<key>delay</key>
						<integer>0</integer>
					</dict>
				</array>
			</dict>
			<key>sceneMode</key>
			<integer>2</integer>
			<key>name</key>
			<string>夜间/Night</string>
			<key>period</key>
			<integer>7000</integer>
			<key>repeat</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>statusDic</key>
			<dict>
				<key>status</key>
				<array>
					<dict>
						<key>devType</key>
						<string>RGBW</string>
						<key>rgb</key>
						<dict>
							<key>r</key>
							<integer>255</integer>
							<key>g</key>
							<integer>0</integer>
							<key>b</key>
							<integer>0</integer>
							<key>w</key>
							<integer>0</integer>
						</dict>
						<key>brightness</key>
						<integer>100</integer>
						<key>dimming</key>
						<integer>500</integer>
						<key>delay</key>
						<integer>1000</integer>
					</dict>
					<dict>
						<key>devType</key>
						<string>RGBW</string>
						<key>rgb</key>
						<dict>
							<key>r</key>
							<integer>0</integer>
							<key>g</key>
							<integer>255</integer>
							<key>b</key>
							<integer>0</integer>
							<key>w</key>
							<integer>0</integer>
						</dict>
						<key>brightness</key>
						<integer>100</integer>
						<key>dimming</key>
						<integer>500</integer>
						<key>delay</key>
						<integer>1000</integer>
					</dict>
					<dict>
						<key>devType</key>
						<string>RGBW</string>
						<key>rgb</key>
						<dict>
							<key>r</key>
							<integer>0</integer>
							<key>g</key>
							<integer>0</integer>
							<key>b</key>
							<integer>255</integer>
							<key>w</key>
							<integer>0</integer>
						</dict>
						<key>brightness</key>
						<integer>100</integer>
						<key>dimming</key>
						<integer>500</integer>
						<key>delay</key>
						<integer>1000</integer>
					</dict>
					<dict>
						<key>devType</key>
						<string>CCT</string>
						<key>cct</key>
						<integer>3000</integer>
						<key>brightness</key>
						<integer>100</integer>
						<key>dimming</key>
						<integer>1000</integer>
						<key>delay</key>
						<integer>1250</integer>
					</dict>
					<dict>
						<key>devType</key>
						<string>CCT</string>
						<key>cct</key>
						<integer>6500</integer>
						<key>brightness</key>
						<integer>100</integer>
						<key>dimming</key>
						<real>1000</real>
						<key>delay</key>
						<integer>1250</integer>
					</dict>
					<dict>
						<key>devType</key>
						<string>SCT</string>
						<key>brightness</key>
						<integer>20</integer>
						<key>dimming</key>
						<real>1000</real>
						<key>delay</key>
						<integer>1250</integer>
					</dict>
					<dict>
						<key>devType</key>
						<string>SCT</string>
						<key>brightness</key>
						<integer>100</integer>
						<key>dimming</key>
						<integer>1000</integer>
						<key>delay</key>
						<integer>1250</integer>
					</dict>
					<dict>
						<key>devType</key>
						<string>MOTOR</string>
						<key>state</key>
						<integer>0</integer>
						<key>delay</key>
						<integer>0</integer>
					</dict>
				</array>
			</dict>
			<key>name</key>
			<string>庆祝/Celebration</string>
			<key>sceneMode</key>
			<integer>3</integer>
			<key>period</key>
			<integer>4500</integer>
			<key>repeat</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
